@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Josefin+Sans:ital,wght@0,532;1,532&display=swap');

:root {
    --primary-color: #03045E;
    --secondary-color: #00A6FB;
    --accent1-color: #FFFFFF;
    --accent2-color: #012C02;

    --heading-font: 'Josefin Sans', serif;
    --paragraph-font: 'Dosis', serif;

    --nav-background-color: #03045E;
    --nav-link-color: #FFFFFF;
    --nav-hover-background-color: #00A6FB;
    --nav-hover-link-color: #012C02;
}