@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Josefin+Sans:ital,wght@0,532;1,532&display=swap');

:root {
    --primary-color: #03045E;
    --secondary-color: #00A6FB;
    --accent1-color: #FFFFFF;
    --accent2-color: #012C02;

    --heading-font: 'Josefin Sans', serif;
    --paragraph-font: 'Dosis', serif;

    --nav-background-color: #03045E;
    --nav-link-color: #FFFFFF;
    --nav-hover-background-color: #00A6FB;
    --nav-hover-link-color: #012C02;
}

body {
    font-family: var(--paragraph-font);
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--nav-background-color);
    width: 95%;
}

header h1 {
    color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--secondary-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

div.hero {
    position: relative;
}

.hero h1 {
    display: block;
    position: absolute;
    background-color: var(--accent1-color);
    opacity: 0.6;
    top: 47px;
    width: 1255px;
    text-align: center;
    padding: 10px;
}

#heroimage {
    width: 1275px;
}

.hero article {
    width: 1150px;
    position: absolute;
    top: 150px;
    left: 60px;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    opacity: 0.7;
}

.hero article img {
    position: relative;
    float: right;
    padding: 20px;
}

section img {
    display: block;
    margin: 20px;
}

section {
    position: relative;
    top: 400px;
}

footer {
    position: relative;
    top: 400px;
    font-size: 30px;
}